[submodule "github/skills-introduction-to-github"]
	path = github/skills-introduction-to-github
	url = https://github.com/adriandarian/skills-introduction-to-github.git
	branch = "main"
[submodule "courses/linkedin-learning"]
	path = courses/linkedin-learning
	url = https://github.com/adriandarian/linkedin-learning.git
	branch = "master"
[submodule "algorithms/leetcode"]
	path = algorithms/leetcode
	url = https://github.com/adriandarian/leetcode.git
	branch = "master"
[submodule "algorithms/hackerrank"]
	path = algorithms/hackerrank
	url = https://github.com/adriandarian/hackerrank.git
	branch = "master"
[submodule "algorithms/binary-search-io"]
	path = algorithms/binary-search-io
	url = https://github.com/adriandarian/binary-search-io.git
	branch = "master"
